/*
   BIOrhythm application resource file
   Created by Microsoft Corp., 1988
*/
#include <os2.h>
#include "bio.h"

POINTER ID_BIO  bio.ico

STRINGTABLE
{
    IDS_APPNAME, "Biorhythm"
    IDS_KIDNAME, "Legend"
}

DLGTEMPLATE IDD_ABOUT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "", IDD_ABOUT, 13, 107, 172, 65, FS_NOBYTEALIGN | FS_DLGBORDER |
                WS_GROUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
	CONTROL "OK", DID_OK, 73, 5, 24, 15, WC_BUTTON, BS_PUSHBUTTON |
                BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
	CONTROL "Created by Microsoft Corp., 1989", -1, 6, 22, 159, 10,
                WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE
	CONTROL "PM Version 1.1", -1, 6, 38, 160, 10, WC_STATIC, SS_TEXT |
                DT_CENTER | DT_TOP | WS_VISIBLE
        CONTROL "Biorhythm Method", -1, 5, 51, 160, 8, WC_STATIC, SS_TEXT | 
                DT_CENTER | DT_TOP | WS_VISIBLE
        CONTROL 1, 1, 11, 33, 16, 28, WC_STATIC, SS_ICON | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_DATE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "DATES", IDD_DATE, 24, 24, 181, 98, FS_NOBYTEALIGN | FS_DLGBORDER |
                WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR
    BEGIN
        CONTROL "Birth Date", -1, 8, 30, 77, 61, WC_STATIC, SS_GROUPBOX | 
                WS_GROUP | WS_VISIBLE
	CONTROL "Year:", -1, 13, 70, 28, 10, WC_STATIC, SS_TEXT | DT_LEFT |
                DT_TOP | WS_VISIBLE
	CONTROL "Month:", -1, 13, 53, 28, 10, WC_STATIC, SS_TEXT | DT_LEFT |
                DT_TOP | WS_VISIBLE
	CONTROL "Day:", -1, 13, 36, 28, 10, WC_STATIC, SS_TEXT | DT_LEFT |
                DT_TOP | WS_VISIBLE
	CONTROL "", ID_BDYEAR, 45, 71, 28, 8, WC_ENTRYFIELD, ES_LEFT | ES_MARGIN |
                WS_TABSTOP | WS_VISIBLE
	CONTROL "", ID_BDMONTH, 45, 54, 28, 8, WC_ENTRYFIELD, ES_LEFT | ES_MARGIN |
                WS_TABSTOP | WS_VISIBLE
	CONTROL "", ID_BDDAY, 45, 37, 28, 8, WC_ENTRYFIELD, ES_LEFT | ES_MARGIN |
                WS_TABSTOP | WS_VISIBLE
        CONTROL "Display Date", -1, 95, 30, 77, 61, WC_STATIC, SS_GROUPBOX | 
                WS_GROUP | WS_VISIBLE
	CONTROL "Year:", -1, 100, 70, 28, 10, WC_STATIC, SS_TEXT | DT_LEFT |
                DT_TOP | WS_VISIBLE
        CONTROL "Month:", -1, 100, 53, 28, 10, WC_STATIC, SS_TEXT | DT_LEFT | 
                DT_TOP | WS_VISIBLE
	CONTROL "Day:", -1, 100, 36, 28, 10, WC_STATIC, SS_TEXT | DT_LEFT |
                DT_TOP | WS_VISIBLE
	CONTROL "", ID_YEAR, 135, 71, 28, 8, WC_ENTRYFIELD, ES_LEFT | ES_MARGIN |
                WS_TABSTOP | WS_VISIBLE
	CONTROL "", ID_MONTH, 135, 54, 28, 8, WC_ENTRYFIELD, ES_LEFT | ES_MARGIN |
                WS_TABSTOP | WS_VISIBLE
	CONTROL "", ID_DAY, 135, 37, 28, 8, WC_ENTRYFIELD, ES_LEFT | ES_MARGIN |
                WS_TABSTOP | WS_VISIBLE
	CONTROL "Update OS2.INI", ID_OS2INI, 10, 8, 83, 14, WC_BUTTON, BS_AUTOCHECKBOX |
                WS_GROUP | WS_TABSTOP | WS_VISIBLE
	CONTROL "Ok", DID_OK, 103, 8, 24, 14, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT |
                WS_GROUP | WS_TABSTOP | WS_VISIBLE
	CONTROL "Cancel", DID_CANCEL, 137, 8, 34, 14, WC_BUTTON, BS_PUSHBUTTON |
                WS_GROUP | WS_TABSTOP | WS_VISIBLE
    END
END

MENU ID_BIO PRELOAD
{
    SUBMENU "~Options", -1
       {
	  MENUITEM "~Dates...\t^D",	IDM_DATES,	MIS_TEXT
	  MENUITEM "~Legend\t^L",	IDM_LEGEND,	MIS_TEXT, MIA_CHECKED
	  MENUITEM "~Copy\t^C",		IDM_COPY,	MIS_TEXT
          MENUITEM SEPARATOR
	  MENUITEM "E~xit",		SC_CLOSE,	MIS_SYSCOMMAND
	  MENUITEM "A~bout...",		IDM_ABOUT,	MIS_TEXT
       }
}

ACCELTABLE ID_BIO
{
   "^d", IDM_DATES
   "^l", IDM_LEGEND
   "^c", IDM_COPY
}
