#include "style.h"
#include "ckradbtn.h"

min MENU
BEGIN
    MENUITEM "DIALOG", 80
END

2 DIALOG LOADONCALL MOVEABLE DISCARDABLE 74, 38, 90, 90
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
	   CONTROL "OKAY" ID_OK, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 22, 58, 41, 22
	   CONTROL "Pick Me" ID_RADIO2, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 22, 13, 41, 12
	   CONTROL "Pick Me" ID_RADIO1, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 22, 0, 42, 12
	   CONTROL "Pick Me" ID_RADIO3, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 22, 26, 40, 11
	   CONTROL "Pick Me" ID_RADIO4, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 22, 39, 38, 11
END
