/*
 * OS/2 PM FILE FINDER UTILITY - RESOURCE FILE
 *
 * LANGUAGE      : Microsoft C5.1
 * MODEL         : small
 * ENVIRONMENT   : Microsoft OS/2 PM SDK
 * STATUS        : operational
 *
 * 11/01/88 1.00 - Jerry Weldon - initial creation.
 *
 */

#include <os2.h>

#include "finder.h"

ICON ID_FINDER      finder.ico

DLGTEMPLATE ID_FINDER LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
  DIALOG "", 1, 33, 46, 281, 120, FS_NOBYTEALIGN | 
        FS_DLGBORDER | FS_BORDER | WS_VISIBLE | WS_CLIPSIBLINGS,
        FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_TASKLIST
  BEGIN
    CONTROL "Pattern:", -1, 4, 106, 34, 8, WC_STATIC, SS_TEXT | 
        DT_LEFT | DT_TOP | WS_VISIBLE
    CONTROL "", IDD_PATTERN, 44, 106, 178, 8, WC_ENTRYFIELD, ES_LEFT |
        ES_MARGIN | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "", -1, 228, 0, 1, 120, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
    CONTROL "~Search", IDD_SEARCH, 233, 104, 44, 12, WC_BUTTON, BS_PUSHBUTTON | 
        BS_DEFAULT | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "~Run", IDD_RUN, 233, 89, 44, 12, WC_BUTTON, BS_PUSHBUTTON | 
        WS_DISABLED | WS_TABSTOP | WS_VISIBLE
    CONTROL "~Quit", IDD_QUIT, 233, 74, 44, 12, WC_BUTTON, BS_PUSHBUTTON | 
        WS_TABSTOP | WS_VISIBLE
    CONTROL "", IDD_DRIVES, 234, 4, 42, 48, WC_LISTBOX, LS_MULTIPLESEL | 
        WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "", IDD_FILES, 4, 4, 220, 96, WC_LISTBOX, LS_OWNERDRAW |
        WS_TABSTOP | WS_VISIBLE
  END
END

DLGTEMPLATE IDD_ABOUTDLG LOADONCALL MOVEABLE DISCARDABLE 
BEGIN
  DIALOG "About PM File Finder...", 1, 36, 210, 191, 78, FS_NOBYTEALIGN | FS_DLGBORDER | 
        WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS, FCF_TITLEBAR
  BEGIN
    CONTROL "~OK", DID_OK, 147, 62, 40, 12, WC_BUTTON, BS_PUSHBUTTON | 
        BS_DEFAULT | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    CONTROL "", -1, 142, 0, 1, 78, WC_STATIC, SS_FGNDRECT | 
        WS_VISIBLE
    CONTROL "PM File Finder", -1, 4, 66, 134, 8, WC_STATIC, SS_TEXT | 
        DT_LEFT | DT_VCENTER | WS_VISIBLE
    CONTROL "Microsoft Systems Journal", -1, 4, 57, 134, 8, WC_STATIC, SS_TEXT | 
        DT_LEFT | DT_VCENTER | WS_VISIBLE
    CONTROL "Designed & Developed by:", -1, 4, 44, 134, 8, WC_STATIC, WS_VISIBLE | SS_TEXT | DT_LEFT
    CONTROL "Jerry Weldon", -1, 4, 31, 134, 8, WC_STATIC, SS_TEXT | 
        DT_LEFT | DT_VCENTER | WS_VISIBLE
    CONTROL "Eikon Systems, Inc.", -1, 4, 22, 134, 8, WC_STATIC, SS_TEXT | 
        DT_LEFT | DT_VCENTER | WS_VISIBLE
    CONTROL "989 E Hillsdale Blvd, Suite 260", -1, 4, 13, 134, 8, WC_STATIC, 
        SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE
    CONTROL "Foster City, California 94404", -1, 4, 4, 134, 8, WC_STATIC, 
        SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE
    CONTROL ID_FINDER, -1, 156, 4, 0, 0, WC_STATIC, SS_ICON | 
        WS_GROUP | WS_VISIBLE
  END
END
