/*-------------------------------------------
   CHECKERS.RC resource script, Version 0.30
  -------------------------------------------*/

#include <os2.h>
#include "checkers.h"

POINTER IDP_UPHAND ckruhand.ptr
POINTER IDP_DNHAND ckrdhand.ptr

MENU ID_RESOURCE
     {
     SUBMENU "~Game",                   -1
          {
          MENUITEM "~New Game",              IDM_NEWGAME
          MENUITEM SEPARATOR
          MENUITEM "~Black on Bottom",       IDM_BOTTOM,, MIA_CHECKED
          MENUITEM SEPARATOR
          MENUITEM "~About Checkers...",     IDM_ABOUT
          }
     SUBMENU "~Colors",                 -1
          {
          MENUITEM "Wi~ndow Background...",  IDM_COLOR_BACKGROUND
          MENUITEM "~Black Square...",       IDM_COLOR_BLACK_SQUARE
          MENUITEM "~White Square...",       IDM_COLOR_WHITE_SQUARE
          MENUITEM "B~lack Piece...",        IDM_COLOR_BLACK_PIECE
          MENUITEM "W~hite Piece...",        IDM_COLOR_WHITE_PIECE
          MENUITEM SEPARATOR
          MENUITEM "~Standard colors",       IDM_COLOR_STANDARD
          }
     }

#define GRP WS_GROUP

DLGTEMPLATE IDD_ABOUT_DLG
     {
     DIALOG "", 0, 32, 32, 200, 100,, FCF_DLGBORDER
          {
          CTEXT "Checkers Version 0.30"            -1,     10, 76, 180,  8
          CTEXT "(A Game With Yourself)"           -1,     10  62, 180,  8
          CTEXT "Microsoft Systems Journal, 3/90"  -1,     10, 48, 180,  8
          CTEXT "(c) 1990, Charles Petzold"        -1,     10, 34, 180,  8
          DEFPUSHBUTTON "OK"                       DID_OK, 80,  8,  40, 16, GRP
          }
     }

DLGTEMPLATE IDD_COLOR_DLG
 {
 DIALOG "", 0, 32, 32, 180, 180,, FCF_DLGBORDER
  {
  CTEXT         "",          IDD_HEADING,               10, 166, 160,   8
  GROUPBOX      "Color"      -1,                        16,  32, 148, 130
  RADIOBUTTON   "Black"      IDD_COLOR + CLR_BLACK,     20, 136,  64,  12, GRP
  RADIOBUTTON   "Blue"       IDD_COLOR + CLR_BLUE,      20, 122,  64,  12
  RADIOBUTTON   "Red"        IDD_COLOR + CLR_RED,       20, 108,  64,  12
  RADIOBUTTON   "Pink"       IDD_COLOR + CLR_PINK,      20,  94,  64,  12
  RADIOBUTTON   "Green"      IDD_COLOR + CLR_GREEN,     20,  80,  64,  12
  RADIOBUTTON   "Cyan"       IDD_COLOR + CLR_CYAN,      20,  66,  64,  12
  RADIOBUTTON   "Yellow"     IDD_COLOR + CLR_YELLOW,    20,  52,  64,  12
  RADIOBUTTON   "Pale Gray"  IDD_COLOR + CLR_PALEGRAY,  94,  38,  64,  12
  RADIOBUTTON   "Dark Gray"  IDD_COLOR + CLR_DARKGRAY,  94, 136,  64,  12
  RADIOBUTTON   "Dark Blue"  IDD_COLOR + CLR_DARKBLUE,  94, 122,  64,  12
  RADIOBUTTON   "Dark Red"   IDD_COLOR + CLR_DARKRED,   94, 108,  64,  12
  RADIOBUTTON   "Dark Pink"  IDD_COLOR + CLR_DARKPINK,  94,  94,  64,  12
  RADIOBUTTON   "Dark Green" IDD_COLOR + CLR_DARKGREEN, 94,  80,  64,  12
  RADIOBUTTON   "Dark Cyan"  IDD_COLOR + CLR_DARKCYAN,  94,  66,  64,  12
  RADIOBUTTON   "Brown"      IDD_COLOR + CLR_BROWN,     94,  52,  64,  12
  RADIOBUTTON   "White"      IDD_COLOR + CLR_WHITE,     20,  38,  64,  12
  DEFPUSHBUTTON "OK"         DID_OK,                    16,   8,  52,  16, GRP
  PUSHBUTTON    "Cancel"     DID_CANCEL,               112,   8,  52,  16
  }
 }
