/**************************************************************************\
*									   *
*	MODULE:     clock.rc						   *
*	COMMENT:    Clock Program Resource File				   *
*		    Created by Microsoft Corporation, 1989		   *
*									   *
\**************************************************************************/

#include <os2.h>
#include "res.h"
#include "dialogs.h"

POINTER ID_RESOURCE	clock.ico

MENU	ID_RESOURCE
{
    SUBMENU "~Preferences" , ID_RESOURCE
    {
	MENUITEM "~Hide Frame Controls",IDM_HIDECONTROLS,MIS_TEXT
	MENUITEM "~Colors..." ,		IDM_COLORS,	MIS_TEXT
	MENUITEM "~Tick Marks...",	IDM_TICKS,	MIS_TEXT
	MENUITEM SEPARATOR
	MENUITEM "E~xit",		SC_CLOSE,	MIS_SYSCOMMAND
	MENUITEM "A~bout Clock...",	IDM_ABOUT,	MIS_TEXT
    }
}

DLGTEMPLATE IDD_ABOUT {
    DIALOG "", 0, 10, 60, 160, 75, WS_SAVEBITS | FS_DLGBORDER {
	CTEXT	"OS/2 Presentation Manager"	   -1, 10, 60, 140, 10
	CTEXT	"Clock Application"		   -1, 10, 50, 140, 10
	ICON	ID_RESOURCE		 	   -1,  8, 40,   0,  0
	CTEXT	"Version 1.0"			   -1, 10, 30, 140, 10
	CTEXT	"Created by Microsoft Corp., 1989" -1, 10, 20, 140, 10
	DEFPUSHBUTTON "Ok"		   DID_OK, 64,  4, 32,  14, WS_GROUP
    }
}

DLGTEMPLATE IDD_TICKS LOADONCALL MOVEABLE DISCARDABLE
BEGIN

    DIALOG "" , IDD_TICKS ,
	90 , -30 , 200 , 160 ,
	FS_NOBYTEALIGN | FS_DLGBORDER | WS_VISIBLE | WS_SAVEBITS

    BEGIN

	DEFPUSHBUTTON "OK" , DID_OK ,
		25 , 10 , 35 , 15 , WS_GROUP

	CONTROL "Cancel" , DID_CANCEL ,
		70 , 10 , 50 , 15 , WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE

	CONTROL "Clock Tick Mark Preferences" , 255 ,
		15 , 140 , 170 , 10 , WC_STATIC ,
		SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP

	CONTROL "Draw Major Tick Marks" , CLKTM_MAJOR ,
		15 , 90 , 170 , 45 , WC_STATIC ,
		SS_GROUPBOX | WS_VISIBLE | WS_GROUP

	CONTROL "Always" , CLKTM_MAJOR | CLKTM_ALWAYS ,
		35 , 115 , 100 , 10 , WC_BUTTON ,
		BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP

	CONTROL "Except When Iconic" , CLKTM_MAJOR | CLKTM_NOTICONIC ,
		35 , 105 , 100 , 10 , WC_BUTTON ,
		BS_AUTORADIOBUTTON | WS_VISIBLE

	CONTROL "Never" , CLKTM_MAJOR | CLKTM_NEVER ,
		35 , 95 , 100 , 10 , WC_BUTTON ,
		BS_AUTORADIOBUTTON | WS_VISIBLE

	CONTROL "Draw Minor Tick Marks" , CLKTM_MINOR ,
		15 , 35 , 170 , 45 , WC_STATIC ,
		SS_GROUPBOX | WS_VISIBLE | WS_GROUP

	CONTROL "Always" , CLKTM_MINOR | CLKTM_ALWAYS ,
		35 , 60 , 100 , 10 , WC_BUTTON ,
		BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP

	CONTROL "Except When Iconic" , CLKTM_MINOR | CLKTM_NOTICONIC ,
		35 , 50 , 100 , 10 , WC_BUTTON ,
		BS_AUTORADIOBUTTON | WS_VISIBLE

	CONTROL "Never" , CLKTM_MINOR | CLKTM_NEVER ,
		35 , 40 , 100 , 10 , WC_BUTTON ,
		BS_AUTORADIOBUTTON | WS_VISIBLE
    END
END


DLGTEMPLATE IDD_COLORS LOADONCALL MOVEABLE DISCARDABLE
BEGIN

    DIALOG "" , IDD_COLORS ,
	90 , -30 , 200 , 160 ,
	FS_NOBYTEALIGN | FS_DLGBORDER | WS_VISIBLE | WS_SAVEBITS

    BEGIN

	DEFPUSHBUTTON "OK" , DID_OK ,
		25 , 10 , 35 , 15 , WS_GROUP

	CONTROL "Cancel" , DID_CANCEL ,
		70 , 10 , 50 , 15 , WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE

	CONTROL "Clock Color Preferences" , 255 ,
		15 , 140 , 170 , 10 , WC_STATIC ,
		SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE | WS_GROUP

	CONTROL "Parts of the Clock" , 255 ,
		15 , 80 , 170 , 55 , WC_STATIC ,
		SS_GROUPBOX | WS_VISIBLE | WS_GROUP

	CONTROL "Background" , CLKCLR_BACKGROUND ,
		20 , 115 , 100 , 10 , WC_BUTTON ,
		BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP

	CONTROL "Face" , CLKCLR_FACE ,
		20 , 105 , 100 , 10 , WC_BUTTON ,
		BS_AUTORADIOBUTTON | WS_VISIBLE

	CONTROL "Hour Hand" , CLKCLR_HOURHAND ,
		20 , 95 , 100 , 10 , WC_BUTTON ,
		BS_AUTORADIOBUTTON | WS_VISIBLE

	CONTROL "Minute Hand" , CLKCLR_MINUTEHAND ,
		20 , 85 , 100 , 10 , WC_BUTTON ,
		BS_AUTORADIOBUTTON | WS_VISIBLE

	CONTROL "GPI Colors" , 255 ,
		15 , 35 , 170 , 40 , WC_STATIC ,
		SS_GROUPBOX | WS_VISIBLE | WS_GROUP

	CONTROL "Red" , CLKCLR_BUTTONSHIFT + CLR_RED ,
		20 , 55 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE | WS_GROUP

	CONTROL "Yellow" , CLKCLR_BUTTONSHIFT + CLR_YELLOW ,
		40 , 55 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "Green" , CLKCLR_BUTTONSHIFT + CLR_GREEN ,
		60 , 55 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "Cyan" , CLKCLR_BUTTONSHIFT + CLR_CYAN,
		80 , 55 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "Blue" , CLKCLR_BUTTONSHIFT + CLR_BLUE,
		100 , 55 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "Pink" , CLKCLR_BUTTONSHIFT + CLR_PINK ,
		120 , 55 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "PaleGray" , CLKCLR_BUTTONSHIFT + CLR_PALEGRAY ,
		140 , 55 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "White" , CLKCLR_BUTTONSHIFT + CLR_WHITE ,
		160 , 55 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "DarkRed" , CLKCLR_BUTTONSHIFT + CLR_DARKRED ,
		20 , 40 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "Brown" , CLKCLR_BUTTONSHIFT + CLR_BROWN ,
		40 , 40 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "DarkGreen" , CLKCLR_BUTTONSHIFT + CLR_DARKGREEN ,
		60 , 40 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "DarkCyan" , CLKCLR_BUTTONSHIFT + CLR_DARKCYAN ,
		80 , 40 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "DarkBlue" , CLKCLR_BUTTONSHIFT + CLR_DARKBLUE,
		100 , 40 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "DarkPink" , CLKCLR_BUTTONSHIFT + CLR_DARKPINK ,
		120 , 40 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "DarkGray" , CLKCLR_BUTTONSHIFT + CLR_DARKGRAY ,
		140 , 40 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

	CONTROL "Black" , CLKCLR_BUTTONSHIFT + CLR_BLACK ,
		160 , 40 , 15 , 10 , WC_BUTTON ,
		BS_USERBUTTON | WS_VISIBLE

    END
END
