#include <pmwin.h>
#include "nead.h"

POINTER IDR_EAD nead.ico
BITMAP  BMP_EMPTY empty.bmp

DLGTEMPLATE IDD_OPENBOX
 BEGIN
  DIALOG "Select a File",0,8,8,240,140, FCF_DLGBORDER, FCF_TITLEBAR
   BEGIN
    LTEXT "Current Directory:" -1,8,126,80,8
    LTEXT ""                  IDD_PATH, 88,126,144,8
    ENTRYFIELD "" IDD_FILEEDIT,56,110,176,8,ES_MARGIN
    CTEXT "Directories" -1, 16,96,92,8
    CTEXT "Files" -1, 134,96,92,8
    LISTBOX IDD_DIRLIST, 16,32,92,64
    LISTBOX IDD_FILELIST, 134,32,92,64
    DEFPUSHBUTTON "OK" DID_OK, 32,8,64,16,WS_GROUP
    PUSHBUTTON "Cancel" DID_CANCEL, 144,8,64,16,WS_GROUP
   END
 END

DLGTEMPLATE IDD_MAIN
BEGIN
 DIALOG "The NEW EA Editor", IDD_MAIN, 85, 28, 164, 172,
               FCF_DLGBORDER | WS_VISIBLE,
               FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON | FCF_ICON
 BEGIN
  CONTROL "File Name", IDD_FNAME, 10, 155, 150, 8, WC_STATIC,
          SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
  CONTROL "EA Names:", -1, 10, 142, 63, 8, WC_STATIC, SS_TEXT | DT_LEFT |
          DT_TOP | WS_GROUP | WS_VISIBLE
  CONTROL "", IDD_LBOX, 10, 70, 95, 73, WC_LISTBOX, WS_TABSTOP |
          WS_VISIBLE
  CONTROL "EA Type:", -1, 10, 55, 80, 8, WC_STATIC, SS_TEXT | DT_LEFT |
          DT_TOP | WS_GROUP | WS_VISIBLE
  CONTROL "The type goes here", IDD_EATYPE, 10, 47, 133, 8, WC_STATIC,
          SS_TEXT | DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
  CONTROL "Add", IDD_ADD, 110, 130, 45, 13, WC_BUTTON, BS_PUSHBUTTON |
          WS_GROUP | WS_TABSTOP | WS_VISIBLE
  CONTROL "Delete", IDD_DELETE, 110, 115, 45, 13, WC_BUTTON, BS_PUSHBUTTON |
          WS_TABSTOP | WS_VISIBLE
  CONTROL "Edit", IDD_EDIT, 110, 100, 45, 13, WC_BUTTON, BS_PUSHBUTTON |
          WS_TABSTOP | WS_VISIBLE
  CONTROL "Copy", IDD_COPY, 110, 85, 45, 13, WC_BUTTON, BS_PUSHBUTTON |
          WS_TABSTOP | WS_VISIBLE
  CONTROL "Paste", IDD_PASTE, 110, 70, 45, 13, WC_BUTTON, BS_PUSHBUTTON |
          WS_TABSTOP | WS_VISIBLE
  CONTROL "New File", IDD_NEWFILE, 10, 25, 45, 13, WC_BUTTON, BS_PUSHBUTTON |
          WS_GROUP | WS_TABSTOP | WS_VISIBLE
  CONTROL "Write", IDD_WRITE, 60, 25, 45, 13, WC_BUTTON, BS_PUSHBUTTON |
          WS_TABSTOP | WS_VISIBLE
  CONTROL "Quit", IDD_QUIT, 110, 25, 45, 13, WC_BUTTON, BS_PUSHBUTTON |
          WS_TABSTOP | WS_VISIBLE
 END
END

DLGTEMPLATE IDD_ADDEA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   DIALOG "", IDD_ADDEA, 39, 47, 333, 118,
              FS_NOBYTEALIGN | FS_DLGBORDER | WS_VISIBLE | WS_SAVEBITS,
              FCF_TITLEBAR
   BEGIN
      CONTROL "Add an EA Name", IDD_TITLE, 15, 104, 300, 8, WC_STATIC,
              SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE
      CONTROL "EA Name:", 0, 14, 89, 44, 8, WC_STATIC, SS_TEXT | DT_LEFT |
              DT_TOP | WS_VISIBLE
      CONTROL "", IDD_EANAME, 66, 89, 142, 8, WC_ENTRYFIELD,
              ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP | WS_VISIBLE

      AUTORADIOBUTTON "Length preceded binary",                  EA_LPBINARY,
                       10, 67, 115, 10,  WS_GROUP | WS_TABSTOP | WS_VISIBLE
      AUTORADIOBUTTON "Length preceded ascii",                   EA_LPASCII,
                       10, 57, 115, 10,  WS_TABSTOP | WS_VISIBLE
      AUTORADIOBUTTON "Asciiz",                                  EA_ASCIIZ,
                       10, 47,  44, 10,  WS_TABSTOP | WS_VISIBLE
      AUTORADIOBUTTON "Length preceded bitmap",                  EA_LPBITMAP,
                       10, 37, 115, 10,  WS_TABSTOP | WS_VISIBLE
      AUTORADIOBUTTON "Length preceded metafile",                EA_LPMETAFILE,
                       10, 27, 127, 10,  WS_TABSTOP | WS_VISIBLE
      AUTORADIOBUTTON "Length preceded icon",                    EA_LPICON,
                       10, 17, 110, 10,  WS_TABSTOP | WS_VISIBLE
      AUTORADIOBUTTON "Asciiz file name of associated data",     EA_ASCIIZFN,
                      150, 67, 164, 10,  WS_TABSTOP | WS_VISIBLE
      AUTORADIOBUTTON "Asciiz EA name of associated data",       EA_ASCIIZEA,
                      150, 57, 158, 10,  WS_TABSTOP | WS_VISIBLE
      AUTORADIOBUTTON "Multi-value multi-type field",            EA_MVMT,
                      150, 47, 140, 10,  WS_TABSTOP | WS_VISIBLE
      AUTORADIOBUTTON "Multi-value single-type field",           EA_MVST,
                      150, 37, 143, 10,  WS_TABSTOP | WS_VISIBLE
      AUTORADIOBUTTON "ASN.1 field",                             EA_ASN1,
                      150, 27, 102, 10,  WS_TABSTOP | WS_VISIBLE

      DEFPUSHBUTTON "OK", DID_OK, 215, 7, 38, 12, WS_GROUP | WS_TABSTOP
      CONTROL "Cancel", DID_CANCEL, 260, 7, 38, 12,
              WC_BUTTON, BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
   END
END

DLGTEMPLATE IDD_ASCIIEDIT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "EA Value Entry/Edit", IDD_ASCIIEDIT, 25, 44, 263, 95,
                FS_NOBYTEALIGN | FS_DLGBORDER | WS_VISIBLE | WS_SAVEBITS,
                FCF_TITLEBAR
    BEGIN
        CONTROL "EA Value:", 0, 10, 33, 45, 8, WC_STATIC, SS_TEXT | DT_RIGHT |
                DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_EAVALUE, 62, 32, 186, 8, WC_ENTRYFIELD, ES_LEFT |
                ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "EA Name:", 0, 10, 70, 45, 8, WC_STATIC, SS_TEXT | DT_RIGHT |
                DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_EANAME, 62, 70, 186, 8, WC_ENTRYFIELD,
                ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP | WS_VISIBLE
        CONTROL "EA Type:", 0, 10, 50, 45, 8, WC_STATIC, SS_TEXT | DT_RIGHT |
                DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_EATYPE, 60, 50, 178, 8, WC_STATIC, SS_TEXT |
                DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        AUTOCHECKBOX "Need Bit", IDD_NEEDBIT, 65,10, 60,10, WS_GROUP
        CONTROL "OK", DID_OK, 170, 5, 38, 12, WC_BUTTON,
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Cancel", DID_CANCEL, 215, 5, 38, 12, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_ICONWIN LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Icon Window", IDD_ICONWIN, 44, 29, 293, 150, FS_NOBYTEALIGN |
                FS_DLGBORDER | FS_SIZEBORDER | WS_VISIBLE | WS_CLIPSIBLINGS |
                WS_SAVEBITS, FCF_TITLEBAR
    BEGIN
        CONTROL BMP_EMPTY, IDD_ICON, 10, 20, 22, 16, WC_STATIC, SS_BITMAP |
                WS_GROUP | WS_VISIBLE
        CONTROL "OK", DID_OK, 240, 15, 38, 12, WC_BUTTON, BS_PUSHBUTTON |
                BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
    END
END

DLGTEMPLATE IDD_MULTIBOX LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Multi-type EA", IDD_MULTIBOX, 40, 44, 233, 115, FS_NOBYTEALIGN |
                FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS,
                FCF_TITLEBAR
    BEGIN
        CONTROL "EA Name:", 0, 15,103, 43, 8, WC_STATIC, SS_TEXT |
                DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "...", IDD_EANAME, 64,103, 111, 8, WC_STATIC, SS_TEXT |
                DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE

        CONTROL "", IDD_LBOX, 15,20, 160,60, WC_LISTBOX, WS_VISIBLE | WS_GROUP

        CONTROL "ea type", IDD_EATYPE, 15, 10, 151, 8, WC_STATIC, SS_TEXT |
                DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE

        CONTROL "EA CodePage:", 0, 15,92, 60, 8, WC_STATIC, SS_TEXT |
                DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
        CONTROL "", IDD_CODEPAGE, 82, 92, 28, 8, WC_ENTRYFIELD, ES_LEFT |
                ES_AUTOSCROLL | ES_MARGIN | WS_TABSTOP | WS_VISIBLE | WS_GROUP

        AUTOCHECKBOX "Need Bit", IDD_NEEDBIT, 171, 92, 50,10, WS_GROUP

        CONTROL "Add",    IDD_ADD,    185, 68, 38, 12, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Delete", IDD_DELETE, 185, 52, 38, 12, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Edit",   IDD_EDIT,   185, 36, 38, 12, WC_BUTTON,
                BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE
        CONTROL "Done",   DID_DONE,   185, 20, 38, 12, WC_BUTTON,
                BS_PUSHBUTTON | BS_DEFAULT | WS_TABSTOP | WS_VISIBLE

        CONTROL "EA Values:", 0, 15, 81, 79, 8, WC_STATIC, SS_TEXT |
                DT_LEFT | DT_TOP | WS_GROUP | WS_VISIBLE
    END
END

