#include <windows.h>
#include  "FindWind.h"

FindWind MENU
    BEGIN
        POPUP "Menu"
           BEGIN
              MENUITEM "&FindWindow",                       IDM_FINDWINDOW
           END
        MENUITEM "\a&Help"                                  IDM_HELP  HELP
    END


