#include <windows.h>
#include  "GetWind.h"

GetWind MENU
    BEGIN
        POPUP "Menu"
           BEGIN
              MENUITEM "&GetWindow",                        IDM_GETWINDOW
           END
        MENUITEM "\a&Help"                                  IDM_HELP  HELP
    END


