#include "style.h"
#include "cwinproc.h"

fonttest MENU
BEGIN
    MENUITEM "ListBox",          22
END


5 DIALOG LOADONCALL MOVEABLE DISCARDABLE 93, 65, 86, 85
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
	   CONTROL "" IDLISTBOX, "listbox", LBS_NOTIFY | LBS_STANDARD | WS_VSCROLL | WS_CHILD , 9, 3, 68, 41
           CONTROL "OK" IDOK, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 21, 51, 44, 13
           CONTROL "CANCEL" OPTIONSBOX, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 21, 68, 44, 14
END

STRINGTABLE
BEGIN
    ID_FEET      "left foot"
    ID_FEET + 1  "right foot"
    ID_FEET + 2  "both feet"
    ID_FEET + 3  "no feet"
    ID_FEET + 4  "foot ball"
    ID_FEET + 5  "the wrong foot"
    ID_FEET + 6  "4  1/2 feet"
    ID_FEET + 7  "athletes feet"
    ID_FEET + 8  "great feat"
END
