#include <OS2.H>
#include "Cascade.h"

POINTER ID_RESOURCE   Cascade.ico

MENU ID_RESOURCE {
    SUBMENU "~File",		    IDM_FILE {
	MENUITEM "~New",		IDM_NEW,, MIA_DISABLED
	MENUITEM "~Open",		IDM_OPEN,, MIA_DISABLED
	MENUITEM "~Save\tF3",		IDM_SAVE,, MIA_DISABLED
	MENUITEM "Save ~As...", 	IDM_SAVEAS,, MIA_DISABLED
	MENUITEM SEPARATOR
	MENUITEM "E~xit\tShift+F3",	IDM_EXIT
	MENUITEM SEPARATOR
	MENUITEM "A~bout...\tAlt+?",	IDM_ABOUT
    }


    SUBMENU "~Edit",		    IDM_EDIT, MIS_STATIC, MIA_DISABLED {
	MENUITEM "Delete",		IDM_DELETE,, MIA_DISABLED
	MENUITEM "Cut", 		IDM_CUT,, MIA_DISABLED
	MENUITEM "Copy",		IDM_COPY,, MIA_DISABLED
	MENUITEM "Paste",		IDM_PASTE,, MIA_DISABLED
    }

    SUBMENU "F~onts", IDM_FONTS {
	SUBMENU "~Screen", IDM_SCREEN {
	    SUBMENU "~Raster", IDM_SCREEN+100 {
		SUBMENU "~System", IDM_SCREEN+100+10 {
		    MENUITEM "~1. 10 Point", IDM_SCREEN+100+10+1
		}
		SUBMENU "~Courier", IDM_SCREEN+100+20 {
		    MENUITEM "~1. 10 Point", IDM_SCREEN+100+20+1
		    MENUITEM "~2. 12 Point", IDM_SCREEN+100+20+2
		    MENUITEM "~3. 15 Point", IDM_SCREEN+100+20+3
		}
		SUBMENU "~Helv", IDM_SCREEN+100+30 {
		    MENUITEM "~1. 10 Point", IDM_SCREEN+100+30+1
		    MENUITEM "~2. 12 Point", IDM_SCREEN+100+30+2
		    MENUITEM "~3. 15 Point", IDM_SCREEN+100+30+3
		    MENUITEM "~4. 18 Point", IDM_SCREEN+100+30+4
		    MENUITEM "~5. 22 Point", IDM_SCREEN+100+30+5
		    MENUITEM "~6. 24 Point", IDM_SCREEN+100+30+6
		}
		SUBMENU "~Tms Rmn", IDM_SCREEN+100+40 {
		    MENUITEM "~1. 10 Point", IDM_SCREEN+100+40+1
		    MENUITEM "~2. 12 Point", IDM_SCREEN+100+40+2
		    MENUITEM "~3. 15 Point", IDM_SCREEN+100+40+3
		    MENUITEM "~4. 18 Point", IDM_SCREEN+100+40+4
		    MENUITEM "~5. 22 Point", IDM_SCREEN+100+40+5
		    MENUITEM "~6. 24 Point", IDM_SCREEN+100+40+6
		}
	    }
	    SUBMENU "~Vector", IDM_SCREEN+200 {
		MENUITEM "~System",  IDM_SCREEN+200+10
		MENUITEM "~Courier", IDM_SCREEN+200+20
		MENUITEM "~Helv",    IDM_SCREEN+200+30
		MENUITEM "~Tms Rmn", IDM_SCREEN+200+40
	    }
	}
	SUBMENU "~Printer", IDM_PRINTER {
	    SUBMENU "~Device", IDM_PRINTER+100 {
		MENUITEM "~Courier",	  IDM_PRINTER+100+10
		MENUITEM "~Helvetica",	  IDM_PRINTER+100+20
		MENUITEM "~Bookman",	  IDM_PRINTER+100+30
		MENUITEM "~ZaphDingbats", IDM_PRINTER+100+40
		MENUITEM "~Symbol",	  IDM_PRINTER+100+50
	    }
	    SUBMENU "~Engine", IDM_PRINTER+200 {
		MENUITEM "~Courier", IDM_PRINTER+200+10
		MENUITEM "~Helv",    IDM_PRINTER+200+20
		MENUITEM "~Tms Rmn", IDM_PRINTER+200+30
	    }
	}
    }

}
