#include  "style.h"
#include  "Rect.h"

Rect MENU
    BEGIN
        POPUP "&Menu"
            BEGIN
                MENUITEM  "&Change Rectangle 1",             IDM_CHANGERECT1
                MENUITEM  "Change &Rectangle 2",             IDM_CHANGERECT2
                MENUITEM  "&Offset Rectangle 1",             IDM_OFFSETRECT1
                MENUITEM  "Offset Rectangle &2",             IDM_OFFSETRECT2
            END					            
        MENUITEM "\a&Help"                                  IDM_HELP  HELP
    END

GetRadius DIALOG LOADONCALL MOVEABLE DISCARDABLE 13, 14, 104, 50
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
     LTEXT "Enter Extent or Origin",-1, 2,  4,100, 10
     EDITTEXT              IDD_RADIUS,  2, 18,100, 12, ES_AUTOHSCROLL
     DEFPUSHBUTTON "&OK",    IDOK,      2, 32, 50, 14, WS_GROUP
     PUSHBUTTON    "Cancel", IDCANCEL, 54, 32, 50, 14, WS_GROUP
END


EnterPointDlg DIALOG LOADONCALL MOVEABLE DISCARDABLE 13, 14, 104, 58
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
     LTEXT "",            IDD_TEXT2,       2,  4, 96, 10
     LTEXT "",            IDD_TEXT1,       2, 14, 96, 10
     EDITTEXT             IDD_X,           2, 24, 49, 12, ES_AUTOHSCROLL
     EDITTEXT             IDD_Y,          53, 24, 49, 12, ES_AUTOHSCROLL
     DEFPUSHBUTTON "&OK", IDOK,           27, 40, 50, 14, WS_GROUP
END
