#include "style.h"
#include "creatdlg.h"

hello MENU
BEGIN
     MENUITEM "Dialog", 777
END

5 DIALOG LOADONCALL MOVEABLE DISCARDABLE 27, 75, 94, 45
CAPTION "Modeless Dialog Box"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
	   CONTROL "OKAY" IDOK, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 10, 26, 31, 17
END
