#include "style.h"
#include "gdlgitmi.h"

getintmenu MENU
BEGIN
    MENUITEM "&Dialog...", ID_INTBOX
END

INTBOX DIALOG LOADONCALL MOVEABLE DISCARDABLE 84, 46, 122, 78
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
  CONTROL "DONE" ID_OK, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 36, 47, 41, 22
  CONTROL "" EDIT_CONTROL, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 13, 21, 88, 14
  CONTROL "Enter Integer in edit field" -1, "static", SS_LEFT | WS_CHILD, 8, 9, 110, 10
END
