#include "style.h"
#include "gnextitm.h"

NextMenu MENU
BEGIN
   MENUITEM "&Begin Demo...", ID_NEXTBOX
END

NEXTBOX DIALOG LOADONCALL MOVEABLE DISCARDABLE 53, 15, 155, 153
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
   CONTROL "Group Selections", ID_GRPSEL, "button", BS_GROUPBOX | WS_CHILD, 8, 14, 138, 35
   CONTROL "First", ID_GRPFRST, "button", BS_RADIOBUTTON | WS_GROUP | WS_CHILD, 11, 30, 43, 12
   CONTROL "Second", ID_GRPSEC, "button", BS_RADIOBUTTON | WS_CHILD, 58, 30, 43, 12
   CONTROL "Third", ID_GRPTHRD, "button", BS_RADIOBUTTON | WS_CHILD, 104, 30, 38, 12
   CONTROL "Tab Selections", ID_TABSEL, "button", BS_GROUPBOX | WS_GROUP | WS_CHILD, 9, 57, 138, 34
   CONTROL "First", ID_TABFRST, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 11, 70, 39, 12
   CONTROL "Second", ID_TABSEC, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 58, 70, 39, 12
   CONTROL "Third", ID_TABTHRD, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 104, 70, 39, 12
   CONTROL "Group and Tab Selection Box", -1, "static", SS_CENTER | WS_CHILD, 8, 3, 138, 9
   CONTROL "Previous", ID_DIRECTION, "button", BS_AUTOCHECKBOX |  WS_CHILD, 99, 104, 44, 12
   CONTROL "Done", ID_DONE, "button", BS_DEFPUSHBUTTON | WS_CHILD, 105, 125, 24, 14
   CONTROL "Next Group Item", ID_NEXTGROUP, "button", BS_PUSHBUTTON | WS_CHILD, 9, 103, 82, 14
   CONTROL "Next Tab Item", ID_NEXTTAB, "button", BS_PUSHBUTTON | WS_CHILD, 9, 122, 82, 14
END



