#include <PMWin.H>
#include "Expand.H"

ACCELTABLE ID_RESOURCE {
    "?", IDM_ABOUT, ALT,SHIFT
    "/", IDM_ABOUT, ALT
    VK_F3, IDM_EXIT, VIRTUALKEY, SHIFT
}

POINTER ID_RESOURCE	Expand.ICO

MENU ID_RESOURCE {
    SUBMENU "~File",		    IDM_FILE {
	MENUITEM "~New",		IDM_NEW,, MIA_DISABLED
	MENUITEM "~Open",		IDM_OPEN,, MIA_DISABLED
	MENUITEM "~Save\tF3",		IDM_SAVE,, MIA_DISABLED
	MENUITEM "Save ~As...", 	IDM_SAVEAS,, MIA_DISABLED
	MENUITEM SEPARATOR
	MENUITEM "E~xit\tShift+F3",	IDM_EXIT
	MENUITEM "", 0, MIA_DISABLED | MIS_SEPARATOR
	MENUITEM "A~bout...\tAlt+?",	IDM_ABOUT
    }

    SUBMENU "~Dialogs", 	    IDM_ITEM {
	MENUITEM "~1. Dialog Box",   IDM_ITEM+1
    }

    MENUITEM "F1=Help", IDM_HELP, MIS_BUTTONSEPARATOR | MIS_HELP
}

RCINCLUDE Expand.DLG
