#include <os2.h>
#include "typer.h"

STRINGTABLE {
    IDS_NAME,    "Typer"
    IDS_TITLE,   " - Simple Typewriter"
}

MENU IDR_TYPER {
    SUBMENU	"~File", IDM_FILE {
	MENUITEM "A~bout...",	IDM_ABOUT,	MIS_TEXT
	MENUITEM SEPARATOR
	MENUITEM "E~xit",	SC_CLOSE,	MIS_SYSCOMMAND
    }
}

DLGTEMPLATE IDD_ABOUT {
    DIALOG "", 0, 10, 60, 160, 75, WS_SAVEBITS | FS_DLGBORDER {
	CTEXT	"OS/2 Presentation Manager"	   -1, 10, 60, 140, 10
	CTEXT	"Typing Sample"			   -1, 30, 50, 100, 10
	CTEXT	"Version 1.0"			   -1, 10, 30, 140, 10
	CTEXT	"Created by Microsoft Corp., 1990" -1, 10, 20, 140, 10
	DEFPUSHBUTTON "~Ok"		   DID_OK, 64,  4, 32,  14, WS_GROUP
    }
}
