#include <windows.h>
#include  "CallMsgF.h"

CallMsgF MENU
    BEGIN
        POPUP "Menu"
           BEGIN
              MENUITEM "&Call Message Filter",              IDM_CALLMSGFILTER
           END
        MENUITEM "\a&Help"                                  IDM_HELP  HELP
    END


