#include <style.h>
#include "ddirli.h"

MenuName MENU
BEGIN
    MENUITEM "List box",  IDM_1
END


DIALOGID DIALOG LOADONCALL MOVEABLE DISCARDABLE 8, 10, 150, 116
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
     CONTROL "" 401, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD, 4, 16, 100, 12
     CONTROL "" 404, "listbox", LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER | WS_VSCROLL | WS_TABSTOP | WS_CHILD, 4, 50, 70, 58
     CONTROL "Exit" 2, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 87, 80, 50, 14
     CONTROL "Click Filename" 3, "static", SS_CENTER | WS_CHILD, 4, 38, 70, 10
END

