#include <os2.h>
#include "fatpel.h"

#define TABGRP	WS_TABSTOP|WS_GROUP
rcinclude fatpel.dlg

POINTER IDR_DRAGSIZEPTR  dragsize.ptr
POINTER IDR_DRAGCOLORPTR dragclr.ptr

MENU IDR_FATPEL PRELOAD
BEGIN
    SUBMENU  "~File",		IDM_FILE
	BEGIN
	    MENUITEM "~Save bitmap...", 	     IDM_SAVE,	       MIS_TEXT
	    MENUITEM SEPARATOR
	    MENUITEM "E~xit",			     SC_CLOSE,	MIS_SYSCOMMAND
	    MENUITEM "~About...",		     IDM_ABOUT,	       MIS_TEXT
	END
    SUBMENU  "~Display",	IDM_DISPLAY
	BEGIN
	    MENUITEM "~Rendered object",	     IDM_RENDEREDOBJ,   MIS_TEXT
	    MENUITEM "~Mathematical object",	     IDM_MATHOBJ,       MIS_TEXT
	    MENUITEM "~Control points", 	     IDM_CTLPOINTS,     MIS_TEXT
	    MENUITEM "Cross~hairs",		     IDM_CROSSHAIRS,    MIS_TEXT
	    MENUITEM "Pel ~border",		     IDM_PELBORDER,     MIS_TEXT
	    MENUITEM "R~ounded control points",      IDM_ROUNDPOINTS,   MIS_TEXT
	    MENUITEM "~Auto redraw after changes",   IDM_AUTOREDRAW,    MIS_TEXT
	END
    SUBMENU  "~Primitive",	IDM_PRIM
	BEGIN
	    MENUITEM "~None",			     IDM_NOPRIM,        MIS_TEXT
	    MENUITEM "GpiPoly~Line",		     IDM_POLYLINE,      MIS_TEXT
	    MENUITEM "GpiPoly~Fillet",		     IDM_POLYFILLET,    MIS_TEXT
	    MENUITEM "GpiPoly~Spline",		     IDM_POLYSPLINE,    MIS_TEXT
	    MENUITEM "GpiPoint~Arc",		     IDM_POINTARC,      MIS_TEXT
	END
    SUBMENU  "~Colors", IDM_COLORS
	BEGIN
	    MENUITEM "~Set colors ...", 	     IDM_SETCOLORS,     MIS_TEXT
	    MENUITEM "~Edit pel colors",	     IDM_EDITPELCOLORS, MIS_TEXT
	END
    SUBMENU  "P~oints", 	IDM_POINTS
	BEGIN
	    MENUITEM "Clear all",		     IDM_CLEARALL,      MIS_TEXT
	END
    SUBMENU  "Pel~Size",	IDM_PELSIZE
	BEGIN
	    MENUITEM "~Set pel size and shape ...",  IDM_SETPELSIZE,    MIS_TEXT
	    MENUITEM "Dra~g pel size",		     IDM_DRAGPELSIZE,   MIS_TEXT
	END
    MENUITEM "~Redraw!",			     IDM_REDRAW,        MIS_TEXT
END


STRINGTABLE
BEGIN
    IDS_TITLE,	    "FatPel Application"
END
